/* ---------- Loading Screen -------------- */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 3;
}
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ------- Main Content --------- */
.header {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
  text-align: center;
}

footer{
  height: 200px;
}


/* ---------------- metadata-container  -------------*/

#metadata-container p {
  font-size: 12 px;
  margin: 0;
  margin-bottom: 4px;
}
/* --------------- select box ----------------*/
#metadata-container #data-loader{
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-color: aquamarine;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 12a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L10 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 10 12z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

#metadata-container #data-loader:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
}

#metadata-container #data-loader::after{
  content: '\25BC'; /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* --------------- custom expression set ---------------- */
#custom-expression-set{
  display: none;
}
#custom-expression-set p{
/*  background-color: aquamarine;*/
  font-size: 12px;
  font-weight: normal;
  font-family: monospace;
}

.table-container {
  height: 400px;
  overflow-y: auto;
  position: relative;
  margin-top: 10px;
  border: 1px solid black;
}

.table-container thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}


.table-container table {
    width: 100%;
    border-collapse: collapse;
  }

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.table-container th {
    background-color: #f2f2f2;
    font-size: 16px;
  }



.empty-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty-text {
  font-size: 18px;
  color: #888;
}

.control {
    background-color: rgba(42, 235, 21, 0.25);
  }

.case {
    background-color: rgba(255, 99, 71, 0.25);
}

.selected {
    background-color: lightblue;
  }

.table-container .asc{
  background-color: tomato;
}
.table-container .des{
  background-color: lightgreen;
}

.min-margin{
  margin: 4px 0px;
}


#view-container a{
  margin: 4px;
}

/* -------------------- plot-container ------------------ */

#plot-container img.plot{
/*  border : 1px solid black;*/
  height: 400px;
  width: 400px;
}

#plot-container h5 {
  margin: 0;
  padding: 6px;

}

#plot-container #heatmap-plot #heatmap-main {
  height: 450px;
  width: 450px;
}

#plot-container #volcano-plot #volcano-main {
  height: 450px;
  width: 600px;
}


#volcano-plot {
  
}

#gene-names{
  width: 100%;
  height: 20px;
  font-size: 14px;
}

#volcano-plot p {
  margin: 4px;
  font-size: 14px;
}

#volcano-plot input.cut-off {
  border: 1px solid black;
  font-size: 11px;
  width: 48px;
  text-align: center;
}

#volcano-plot #pp-interaction{
  width: auto;
  height: auto;
  background-color: antiquewhite;
}




/* Style for the pop-up box */
.pop-up {
  position: fixed;
  border: 1px solid blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 50%;
  height: 50%;
  z-index: 9999;
  padding: 6px 12px;
  display: none;
}



.pop-up .pop-button {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  padding: 0 4px;
  cursor: pointer;
  font-family: Courier;
  font-size: 16px;
  font-weight: bolder;

}

.pop-up .pop-button:hover {
  color: white;
}

.pop-up .close:hover {
  background-color: red;
  border-color: red;
}
.pop-up .copy:hover {
  background-color: green;
  border-color: green;
}


.pop-up div{
  border: 1px solid gray;
  margin-top: 10px;
  height: calc(100% - 30px);
  overflow-y: auto;
}










